<html>
    
<head>
</head>

<body>

<form method="POST">
    {{.csrfField}}

    {{with .Source}}
        <input type="hidden" name="owner" value="{{.Owner}}">
        <input type="hidden" name="repo" value="{{.Repo}}">
        <input type="hidden" name="ref" value="{{.Ref}}">
    {{end}}

    <select name="target">
        {{range .Targets}}
            <option value="{{.Entity.OrgGUID}}:{{.Entity.OrgName}}:{{.Meta.GUID}}:{{.Entity.Name}}">{{.Entity.OrgName}} | {{.Entity.Name}}</option>
        {{end}}
    </select>

    {{with .App}}
        <h1>Environment variables</h1>
        {{range $name, $envvar := .EnvVars}}
            <div>
                <label for="env-{{$name}}">
                    {{if $envvar.Required}}* {{end}}
                    {{$name}}
                    <small>{{$envvar.Description}}</small>
                </label>
                <input
                        type="text"
                        name="{{$name}}"
                        id="env-{{$name}}"
                        {{if $envvar.Value}}value="{{$envvar.Value}}"{{end}}
                        {{if $envvar.Required}}required{{end}}
                    >
            </div>
        {{end}}

        <h1>Services</h1>
        <table>
        {{range .Services}}
            <tr>
                <td>{{.Service}}</td>
                <td>{{.Plan}}</td>
            </tr>
        {{end}}
        </table>
    {{end}}

    <button type="submit">Deploy</button>
</form>

</body>

</html>