{{define "body"}}

<form method="POST">
    {{.csrfField}}

    {{with .Source}}
        <input type="hidden" name="owner" value="{{.Owner}}">
        <input type="hidden" name="repo" value="{{.Repo}}">
        <input type="hidden" name="ref" value="{{.Ref}}">
    {{end}}

    <div class="form-group">
        <label for="target">Choose org and space</label>
        <select id="target" name="target" class="form-control">
            {{range .Targets}}
                <option value="{{.Entity.OrgGUID}}:{{.Entity.OrgName}}:{{.Meta.GUID}}:{{.Entity.Name}}">{{.Entity.OrgName}} | {{.Entity.Name}}</option>
            {{end}}
        </select>
    </div>

    {{with .App}}
        <h2>Environment variables</h2>
        {{range $name, $envvar := .EnvVars}}
            <div class="form-group">
                <label for="env-{{$name}}">
                    {{if $envvar.Required}}* {{end}}
                    {{$name}}
                    <span>{{$envvar.Description}}</span>
                </label>
                <input
                        type="text"
                        name="{{$name}}"
                        id="env-{{$name}}"
                        class="form-control"
                        {{if $envvar.Value}}value="{{$envvar.Value}}"{{end}}
                        {{if $envvar.Required}}required{{end}}
                    >
            </div>
        {{end}}

        <h2>Services</h2>
        <table class="table">
        {{range .Services}}
            <tr>
                <td>{{.Service}}</td>
                <td>{{.Plan}}</td>
            </tr>
        {{end}}
        </table>
    {{end}}

    <button type="submit" class="btn btn-default">Deploy</button>
</form>
{{end}}
